

<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li class="masthead-links">
        <a href="#">CSS</a>
      </li>
      <li class="masthead-links">
      <a href="#">HTML</a>
      </li>
      <li class="masthead-links">
      <a href="#">Javascript</a>
      </li>
      <li class="masthead-links">
      <a href="#">Ruby</a>
      </li>
    </ul>
  </nav>
  <figure>
    <img src="../assets/AA_Times_Logo.png" alt="">
  </figure>

  <nav class="toolbar_nav">
    <ul>
      <li id="">
        <span>Tuesday, October 18, 2016</span>
      </li>
      <li id="">
        <i class="fa fa-newspaper-o"></i>
        <a href="#">Today’s Paper</a>
      </li>
      <li id="">
        <i class="fa fa-video-camera"></i>
        <a href="#">Video</a>
      </li>
      <li id="">
        <span>77°F</span>
      </li>
      <li id="">
        <span>AAO +100%</span>
      </li>
    </ul>
  </nav>
</header>
